# Python compiled code
*.pyc

# data files
*.data
*.dat
yeastDerivData*
# but include the simple example data file
!simpleExample_savedFittingProblem.data

# SloppyCell files
.SloppyCell

# SloppyCell compiled code
*.c
*.pyf

# temporary files
temporary*
MATLAB_tmp*

# latex files
*.tex
*.pdf
*.log
*.aux

# other output files
*.dot
*.png
stdout_stderr_*

# ipython notebook files
*.ipynb
.ipynb_checkpoints
# but include the example ipython notebook
!simpleExample.ipynb

# SBML files
.netModel

# OSX files
.DS_Stor*

# SloppyCell compiled code
*.so

# Mathematica files
*.nb