# Python compiled code
*.pyc

# data files
*.data
*.dat

# SloppyCell files
.SloppyCell

# SloppyCell compiled code
*.c
*.pyf

# temporary files
temporary*

# latex files
*.tex
*.pdf
*.log
*.aux

# other output files
*.dot
*.png
stdout_stderr_*

# ipython notebook files
*.ipynb
.ipynb_checkpoints

# SBML files
.netModel
